[submodule "source/hammerspoon_asm"]
	path = source/hammerspoon_asm
	url = https://github.com/asmagill/hammerspoon_asm
[submodule "source/undocumented"]
	path = source/undocumented
	url = https://github.com/asmagill/hammerspoon_asm.undocumented
